@import "reset.css";
@import "general.css";

/* MAIN */

#container-bg-top {
    width: 100vw;
    height: 150px;
    background-color: #009688;
    position: absolute;
    top: 0;
    z-index: -1;
}

#container-bg-bot {
    width: 100vw;
    height: calc(100vh - 150px);
    background-color: #D9DBD6;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.app-container {
    width: 90%;
    height: 95%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
}

.app-cont-header {
    width: 100%;
    height: 100px;
    background-color: #ececec;
    display: flex;
}

.app-left-container {
    width: 35%;
    height: 100%;
    border-right: 2px solid lightgray;
    flex-direction: column;
    position: relative;
}

.app-right-container {
    width: 65%;
    height: 100%;
    flex-direction: column;
    position: relative;
}

.notify-container {
    width: 100%;
    height: 100px;
    background-color: #99defc;
}

.search-bar {
    width: 100%;
    height: 50px;
    background-color: #ececec;
    display: flex;
}

.search-bar input {
    width: 90%;
    height: 75%;
    margin: auto;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}

.contact-container {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 250px;
    overflow-y: auto;
}

.contact-card {
    width: 100%;
    height: 80px;
    margin-bottom: 2px;
    border-bottom: 2px solid #F5F5F5;
    border-width: 3;
    display: flex;
    cursor: pointer;
}

.contact-card img {
    width: 60px;
    border-radius: 50%;
    margin: auto 20px;
}

.contact-last-sent {
    margin-top: 5px;
    font-weight: lighter;
}

.message-container {
    background-image: url('/img/mine.jpg');
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 80px;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    display: inline-block;
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.sent {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;
}

.message-bar {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: #f4f0ec;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.message-bar > input {
    flex-grow: 1;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
}

.message-bar > i {
    margin: auto 30px;
    font-size: 1.5em;
    cursor: pointer;
}

.message-date {
    font-size: 0.8em;
    font-weight: lighter;
    color: gray;
}

.app-cont-header > img {
    width: 60px;
    border-radius: 50%;
    margin: auto 20px;
}

.contact-info {
    margin: auto 0;
    flex-grow: 1;
}

.contact-info {
    margin: auto 0;
    flex-grow: 1;
}

.contact-name {
    font-weight: bold;
}

.contact-last-seen{
    margin-top: 5px;
    font-weight: lighter;
}

.header-icons {
    color: gray;
    margin: auto 20px
}

.header-icons > i {
    font-size: 1.5em;
    margin: 0 10px;
    cursor: pointer;
}

.notify-container {
    display: flex;
}

.notify-container > i {
    margin: auto 20px;
    padding: 20px;
    font-size: 1.5em;
    line-height: 30px;
    background-color: white;
    border-radius: 50%;
    color: #99defc;
}

.notify-content {
    margin: auto 0;
}

.notify-alert {
    font-weight: bold;
}

.notify-enable {
    cursor: pointer;
    text-decoration: underline;
    color: gray;
    font-weight: lighter;
}