@import "reset.css";
@import "general.css";

/* MAIN */

#container-bg-top {
    width: 100vw;
    height: 150px;
    background-color: #009688;
    position: absolute;
    top: 0;
    z-index: -1;
}

#container-bg-bot {
    width: 100vw;
    height: calc(100vh - 150px);
    background-color: #D9DBD6;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

#app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.app-container {
    width: 90%;
    height: 95%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
}

.app-cont-header {
    width: 100%;
    height: 100px;
    background-color: #ececec;
}

.app-left-container {
    width: 35%;
    height: 100%;
    border-right: 2px solid lightgray;
    flex-direction: column;
    position: relative;
}

.app-right-container {
    width: 65%;
    height: 100%;
}

.notify-container {
    width: 100%;
    height: 100px;
    background-color: #99defc;
}

.search-bar {
    width: 100%;
    height: 50px;
    background-color: #ececec;
}

.contact-container {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 250px;
    overflow-y: auto;
}

.contact-card {
    width: 100%;
    height: 80px;
    background-color: lightcoral;
    margin-bottom: 2px;
}