<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- FONT -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE.JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- LUXON -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.js" integrity="sha512-t6ukNvGgU+fAPftTDmHRg7AlbbIqNbercmkwMJAW2Vv8LSFoKaUjbVk5SXiWederZTEE2XMyaZefve2mJGHQwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="main-container">
        <div id="container-bg-top"></div>
        <div id="container-bg-bot"></div>
        <div id="app">
            <div class="app-container">
                <div class="app-left-container">
                    <div class="app-cont-header">
                        <img src="img/avatar_io.jpg" alt="">
                        <div class="contact-info">
                            <p class="contact-name">Sofia</p>
                        </div>
                        <div class="header-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-message"></i>
                            <i class="fas fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notify-container">
                        <i class="fas fa-bell-slash"></i>
                        <div class="notify-content">
                            <p class="notify-alert">Ricevi notifiche di nuovi messaggi</p>
                            <p class="notify-enable">Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Cerca">
                    </div>
                    <div class="contact-container">
                        <div class="contact-card" v-for="contact in contacts" :key="contact.name" @click="openChat(contact)">
                            <img :src="contact.avatar" :alt="contact.name">
                            <div class="contact-info">
                                <p class="contact-name">{{ contact.name }}</p>
                                <p class="contact-last-sent">{{ getLastMessage(contact) }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-right-container">
                    <div class="app-cont-header">
                        <img :src="selectedContact.avatar" alt="">
                        <div class="contact-info">
                            <p class="contact-name">{{ selectedContact.name }}</p>
                            <p class="contact-last-seen" v-if="selectedContact.lastSeen">Ultimo accesso oggi alle {{ selectedContact.lastSeen }}</p>
                        </div>
                        <div class="header-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="message-container">
                        <div v-for="message in selectedContact.messages" :key="message.date" :class="['message', message.status]">
                            <p>{{ message.message }}</p>
                            <span class="message-date">{{ message.date }}</span>
                        </div>
                    </div>
                    <div class="message-bar">
                        <i class="far fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keydown.enter="sendMessage">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>